$mt: 225px;
$step: $mt/9;
.process-steps {
    @apply py-9 md:py-20 overflow-hidden;
    padding-top: 110px;
    @media (max-width: 768px) {
        padding-top: 80px;
    }
    .heading-wrap {
        @apply mx-10 mb-10 flex flex-row justify-between items-center;
        .heading {
            @apply m-auto ml-0;
        }
        @media (max-width: 767px) {
            @apply mx-5 mb-6;
            .swiper-nav {
                @apply hidden;
            }
        }
    }
    .item {
        max-width: 300px;
        .box {
            .inner {
                @apply block bg-brand-black p-5 text-white;
                transition: all .3s ease-in-out;
                position: relative;
            }
            .number {
                @apply font-normal;
                font-size: 33px;
                line-height: normal;
            }
            .wrap {
                transition: all .3s ease-in-out;
                .img-wrap {
                    height: 160px;
                    @apply overflow-hidden;
                }
                h3 {
                    @apply text-lg uppercase mt-5;
                }
                p {
                    @apply text-sm font-extralight font-normal;
                }
            }
        }
        &:nth-child(1) .box .inner { background: #5C5C5C; }
        &:nth-child(2) .box .inner { background: #535353; }
        &:nth-child(3) .box .inner { background: #464646; }
        &:nth-child(4) .box .inner { background: #3C3C3C; }
        &:nth-child(5) .box .inner { background: #333333; }
        &:nth-child(6) .box .inner { background: #2b2b2b; }
        &:nth-child(7) .box .inner { background: #262525; }
        &:nth-child(8) .box .inner { background: #171717; }
        &:nth-child(9) .box .inner { background: #020202; }
    }
}

$stepsHeight: auto;
.steps-horizontal {
    height: $stepsHeight;
    @apply overflow-visible;
    .steps-swiper {
        @apply relative;
        padding-bottom: 50px;
        @media (min-width:768px) and (max-height:800px) {
            // padding-bottom: 30px;
        }
    }
    .item {
        @apply flex;
        height: $stepsHeight;
        .box {
            @apply flex w-full;
            .inner {
                width: 100%;
                @media (max-width: 1024px)  {
                }

            }
            .wrap {
                @apply flex flex-col justify-start gap-5 relative;
                @apply m-8;
                @media (min-width:768px) and (max-height:800px) {
                    @apply m-5;
                    h3 {
                        @apply mt-0;
                    }
                }
            }
        }
        // &.swiper-slide-active .box,
        & .box:hover {
            .inner {
                padding-top: 30px;
                padding-bottom: 30px;
                margin-top: -30px;
                margin-bottom: -30px;
                @media (min-width:768px) and (max-height:800px) {
                    padding-top: 20px;
                    padding-bottom: 20px;
                    margin-top: -20px;
                    margin-bottom: -20px;
                }
            }
        }

        &:not(.peek) {
            .box:hover {
                .inner {
                    // margin-right: auto;
                    // margin-left: -15px;
                }
            }
        }


    }

    .swiper-scrollbar {
        @apply inset-x-0 mx-auto #{!important};
        bottom: -15px !important;
        width: 70% !important;
        overflow: hidden;
        border: 1px solid grey;
        background-color: white;
        opacity: 100 !important;
        .swiper-scrollbar-drag {
            background-color: #454545;
        }
    }
}

.steps-accordion {
    .item {
        max-width: 100%;
        .bar {
            .number {
                @apply text-base;
            }
            .icon {
                @apply opacity-50 flex ml-auto;
                @apply w-4 h-4 place-items-center relative;
                span {
                    @apply w-full h-1 bg-white block absolute;
                    &:nth-child(2) {
                        @apply transform rotate-90 transition-all;
                    }
                }
            }
            h3 {
                @apply text-base;
            }
            &:hover {
                .icon {
                    @apply opacity-100;
                }
            }
        }
        .box {
            @apply overflow-hidden;

            .bar.inner {
                @apply m-0 cursor-pointer flex flex-row gap-5 items-center;
                .number {
                    @apply text-brand-yellow;
                }
                h3 {
                    @apply uppercase;
                }
            }
            .content {
                @apply block h-0;
                transition: all .5s ease-in-out;
                .inner {
                    @apply flex flex-col gap-5 pl-11 pb-10;
                }
                .img-wrap {
                    img {
                        max-height: 120px;
                    }
                }
            }
        }
        &.expanded {
            .number {
                // @apply text-white;
            }
            .icon {
                @apply opacity-100;
                span:nth-child(2) {
                    @apply opacity-0;
                }
            }
            .content {
                @apply h-auto;
            }
        }
    }
}
