.stats {
    .text-col {
        @apply grid px-7 md:px-11 lg:px-14 xl:px-32 py-20 xl:py-32;
    }
    @media (min-width: 1024px) {
        .content {
            // min-height: calc(100vh - #{$headerHeight});
            min-height: 820px;
        }
    }
}

$slideMobileHeight: 500px;

.image-slider {
    @apply w-full h-auto;
    .swiper-slide {
        @apply text-white relative flex items-start w-full bg-brand-orange;
        &:after {
            @apply absolute w-full h-full bg-cover bg-center opacity-70;
            z-index: 1;
            content: "";
            background: rgb(0,0,0);
            background: linear-gradient(145deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 50%, rgba(255,255,255,0) 100%);
        }
        .img-bg {
            @apply w-full h-full absolute object-cover object-center; 
            z-index: 0;
        }
        @media (max-width: 1024px) {
            // min-height: 400px;
            height: $slideMobileHeight;
        }
    }
    .swiper-pagination {
        &-bullet {
            @apply w-3 h-3 opacity-70 bg-white;
        }
        &-bullet-active {
            @apply bg-brand-orange opacity-100;
        }
    }
    @media (min-width: 768px) {
        &, .swiper-wrapper, .swiper-slide {
            @apply h-full #{!important};
        }
    }
}