# System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
!web/app/mu-plugins/xell-dev-mu
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/languages
web/app/themes/muratechnology/assets/dist/*
web/app/themes/muratechnology/assets/dist/css/*
web/app/themes/muratechnology/assets/dist/js/*
!web/app/themes/muratechnology/assets/dist/.gitkeep

# WordPress
web/wp
web/.htaccess
web/.user.ini

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor
auth.json

# Node
/node_modules

# WP-CLI
wp-cli.local.yml

# Wordfence
web/app/wflogs
web/app/themes/muratechnology/assets/dist
