{# Section Props #}

{% set title = section.title ?? '' %}
{% set view_link = section.view_link ?? '' %}
{% set category_to_show = section.category_to_show ?? '' %}
{% set max = section.max_number_of_posts %}



<section class="news">
    <div class="container">

        <div class="flex align-top justify-between mb-6">
            <h2>News</h2>
            <div class="swiper-nav">
                <button class="prev"><span class="sr-only">Previous Slide</span></button>
                <button class="next"><span class="sr-only">Next Slide</span></button>
                <a href="/news">View All</a>
            </div>
        </div>

        <!-- Swiper -->
        <div class="swiper news-slider">
            <div class="swiper-wrapper">

                {% for post in latest_news|slice(0,max) %}
                    <div class="swiper-slide">
                        <a href="{{ post.link }}" class="flex flex-col">
                            <div class="post-img">
                                {{ include('components/picture.twig', { 
                                    classes: '', 
                                    image_url: post.thumbnail.src, 
                                    image_alt: post.thumbnail.alt, 
                                }) }}
                            </div>
                            <h3 class="post-title"> {{ fn('ucfirst', post.title ) }} </h3>
                            <span class="post-date block">
                                {{ fn('date', 'd F Y', fn('strtotime', post.date) ) }}
                            </span>
                        </a>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
</section>